{% extends 'base.html' %} 

{% block body %}
<h3>All Results</h3>
<table>
  <tr>
    <th>Departure Airport</th>
    <th>Arrival Airport</th>
    <th>Departure Date</th>
    <th>Arrival Date</th>
    <th>Flight Number</th>
    <th>Flight Status</th>
  </tr>
  {% for flight in all_flights %}
<tr>
    <td>{{flight.departure_airport}}</td>
    <td>{{flight.arrival_airport}}</td>
    <td>{{flight.departure_time}}</td>
    <td>{{flight.arrival_time}}</td>
    <td>{{flight.flight_num}}</td>
    <td>{{flight.status}}</td>
</tr>
    {% endfor %}
</table>

{% endblock %} 