{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}
<form action="{{ url_for('form', flight_num = data ) }}" method="POST">
  <!-- rating	comment	customer_email	flight_num	 -->
  <div>
    <!-- <label type="text">Enter your flight number</label>
    <input type="text" name="flight_num" id="flight_num">  -->
    <!-- <label required="true" type="text">How many Stars</label> -->
    <p>Please Rate your flight:</p>
    <input type="radio" id="age1" name="stars" value="1" required />
    <label for="stars">1</label><br />
    <input type="radio" id="age1" name="stars" value="2" />
    <label for="stars">2</label><br />
    <input type="radio" id="age1" name="stars" value="3" />
    <label for="stars">3</label><br />
    <input type="radio" id="age1" name="stars" value="4" />
    <label for="stars">4</label><br />
    <input type="radio" id="age1" name="stars" value="5" />
    <label for="stars">5</label><br />

    <label for="Comment">Comment</label>
    <input type="text" name="comment" id="comment" />
  </div>
  <input type="submit" value="Submit" />
</form>
{% if success: %}
<p class="success">{{success}}</p>
{%else%}
<p class="error">{{error}}</p>
{% endif %} {% endblock %}
