{% extends 'base.html' %} {% block body %}
<form
  action="{{ url_for('spending', start_date = start, end_date = end) }}"
  method="post"
>
  <div style="display: flex; justify-content: space-around" id="filter_bar">
    <div class="filter_item">
      <label for="start_date">Start Date</label><br />
      <input type="date" name="start_date" id="start" />
    </div>
    <div>
      <label for="end_date">End Date</label><br />
      <input type="date" name="end_date" id="end" />
    </div>
    <input style="margin-top: 10px" type="submit" value="Search" />
  </div>
</form>
<table style="width: 100%; text-align: center">
  <tr>
    <th>Year</th>
    <th>Month</th>
    <th>Spent</th>
  </tr>
  {% for expense in data %}
  <tr>
    <td>{{expense.get('Year')}}</td>
    <td>{{expense.get('Month')}}</td>
    <td>{{expense.get('Spent')}}</td>
  </tr>
</table>

{% endfor %} {% endblock %}
