{% extends 'base.html' %} 

{% block body %}
    <h3>Most frequent customer within the last year</h3> 
    <table>
        <tr>
          <th>Customer Name</th>
          <th>Customer Email</th>
        </tr>

        <tr>
          <td>{{most_freq_name}}</td>
          <td>{{most_freq_email}}</td>
          <td><a href="{{url_for('freq_customer_flights', most_freq_email = most_freq_email)}}">View all flights from {{most_freq_name}}</a></td>
        </tr>
      </table>

      <h3>Tickets sold report</h3>
      <h4>Tickets sold within last 12 months</h4> 
      <table>
          <tr>
            <th>Month</th>
            <th>Tickets sold</th>
          </tr>
          {% for i in range(12) %}
          <tr>
            
              <td>{{month[i]}}</td>
              <td>{{monthly_ticket_sold[i]}}</td>    
                   
          </tr>
          {% endfor %}
          <td>Total tickets: </td> 
              <td>{{monthly_ticket_sold[12]}}</td>
        </table>
      <form action="{{ url_for('view_reports') }}" method="GET">
        <div id="filter_bar">
        <div class="filter_item">
            <label for="sold_from_date">Number of tickets sold from</label><br />
            <input type="date" name="sold_from_date" id="sold_from_date" />
          </div>
          <div>
            <label for="sold_to_date">Number of tickets sold to</label><br />
            <input type="date" name="sold_to_date" id="sold_to_date" />
          </div>
        </div>
        <input type="submit" value="See Report" />
        </form>
      {% if total_tickets %}
      <p>The total tickets sold within date range is: {{total_tickets}}</p>
      {% endif %}

      <h3>Tickets revenue report</h3> 
    </table>
    <h4>Revenue within last 12 months</h4> 
    <table>
        <tr>
          <th>Month</th>
          <th>Monthly revenue</th>
        </tr>
        {% for i in range(12) %}
        <tr>
          
            <td>{{month[i]}}</td>
            <td>{{monthly_revenue[i]}}</td>    
                 
        </tr>
        {% endfor %}
        <td>Total tickets: </td> 
            <td>{{monthly_revenue[12]}}</td>
      </table>
      <form action="{{ url_for('view_reports') }}" method="GET" >
        <div id="filter_bar">
        <div class="filter_item">
            <label for="revenue_from_date">Revenue from</label><br />
            <input type="date" name="revenue_from_date" id="revenue_from_date" />
          </div>
          <div>
            <label for="revenue_to_date">Revenue to</label><br />
            <input type="date" name="revenue_to_date" id="revenue_to_date" />
          </div>
        </div>
        <input type="submit" value="See Report" />
        </form>
        {% if total_revenue %}
        <p>The total revenue within date range is: {{total_revenue}}</p>
        {% endif %}
{% endblock %}