{% extends 'base.html' %} 
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/flight_search.css')}}"/>
{% endblock %} 
{% block body %}
    <h3>Most frequent customer within the last year</h3> 
    <table class="center">
        <tr>
          <th>Customer Name</th>
          <th>Customer Email</th>
        </tr>

        <tr>
          <td>{{most_freq_name}}</td>
          <td>{{most_freq_email}}</td>
          <td><a href="{{url_for('freq_customer_flights', most_freq_email = most_freq_email)}}">View all flights from {{most_freq_name}}</a></td>
        </tr>
      </table>

      <h3>Tickets sold report</h3>
      <form action="{{ url_for('view_reports') }}" method="GET">
        <div id="filter_bar">
        <div class="filter_item">
            <label for="sold_from_date">Number of tickets sold from month</label><br />
            <input type="month" name="sold_from_date" id="sold_from_date" required="true"/>
          </div>
          <div>
            <label for="sold_to_date">Number of tickets sold to month</label><br />
            <input type="month" name="sold_to_date" id="sold_to_date" required="true"/>
          </div>
        </div>
        <input type="submit" value="See Report" />
        </form>
      {% if total_tickets %}
      <table class="center">
        <tr>
          <th>Month</th>
          <th>Tickets sold</th>
        </tr>
        {% for i in range(to_iter) %}
        <tr>
          <td>{{year_month[i]}}</td>
          <td>{{total_tickets[i]}}</td>
        </tr>
        {% endfor %}
        <tr>
          <th>Total: </th>
          <th>{{total_tickets[to_iter]}}</th>
        </tr>
      </table>
      {% endif %}

      <h3>Revenue report</h3>
      <form action="{{ url_for('view_reports') }}" method="GET">
        <div id="filter_bar">
        <div class="filter_item">
            <label for="revenue_from_date">Revenue from month</label><br />
            <input type="month" name="revenue_from_date" id="revenue_from_date" required="true"/>
          </div>
          <div>
            <label for="revenue_to_date">Revenue to month</label><br />
            <input type="month" name="revenue_to_date" id="revenue_to_date" required="true"/>
          </div>
        </div>
        <input type="submit" value="See Report" />
        </form>

        {% if total_revenue %}
        <table class="center">
          <tr>
            <th>Month</th>
            <th>Monthly revenue</th>
          </tr>
          {% for i in range(to_iter) %}
          <tr>
            <td>{{year_month[i]}}</td>
            <td>{{total_revenue[i]}}</td>
          </tr>
          {% endfor %}
          <tr>
            <th>Total: </th>
            <th>{{total_revenue[to_iter]}}</th>
          </tr>
        </table>
        {% endif %}

{% endblock %}